body {
    background-color: #EEEEEE;
}
main {
    display: flex;
    padding: 40px;
    min-height: 200px;
    margin: 8% 20px 20px 20px;
    border-radius: 14px;
    box-shadow: #222831 0 0 3px;
    background: #c3f0ff;
    flex-direction: column;
}

main .head {
    font-size: xxx-large;
    text-align: center;
    border-radius: 10px;
    border: black 1px solid;
    color: #222831;
    text-shadow: #000651 0 0 2px;
}

.block-login {
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.text-login {
    font-size: xx-large;
    font-style: italic;
}

.form-login{
    margin-top: 10px;
    outline: none;
    max-width: 400px;
    height: 30px;
    border-radius: 6px;
}