body {
    background-color: rgba(0,0,0,0.69);
}

header {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    background-color: rgba(217,0,10,0.95);
    display: flex;
    min-height: auto;
}

header a {
    text-decoration: none;
}

.logo {
    color: black;
    font-size: 50px;
    font-family: Dubai, sans-serif;
}

header .buttons {

}