body {
    background-color: #EEEEEE;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    background-color: #222831;
    display: flex;
    min-height: auto;
}

header a {
    text-decoration: none;
}

.logo {
    color: #00ADB5 !important;
    font-size: 50px;
    font-family: Dubai, sans-serif;
}

header .buttons {
    padding: 10px 20px 10px 20px;
    background-color: #00ADB5;
    border-radius: 10px;
    margin: 10px;
}

header .buttons:hover {
    cursor: pointer;
    animation: button_click ease-in-out 1s;
}

but {
    display: flex;
    align-items: center;
    margin-right: 4%;
    margin-left: auto;
}

@keyframes button_click {
    from {
        border-radius: 10px;
        transform: translateX(0);
    }
    50% {
        border-radius: 2px;
        transform: translateX(8px);
    }
    to {
        transform: translateX(0);
        border-radius: 10px;
    }
}

.categories {
    border-radius: 10px;
    border: 2px #112D4E;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    background-color: #696A6C33;
}

.categories li {
    padding: 5px 20px 10px 10px;
    margin: 5px 20px 10px 10px;
    background-color: #b6b6b4;
    list-style-type: none;
}

main {
    display: flex;
}

.articles_list {
    display: flex;
    flex-direction: column;
}

.categories .header {
    color: #00ADB5;
    font-size: x-large;
    font-family: Calibri, sans-serif;
    margin: 0 0 0 0;
    padding: 5px 20px 10px 10px !important;
    background-color: #112D4E;
}

.categories li a {
    text-decoration: none;
    color: #000651;
}

article {
    border: 6px solid #222831;
    margin: 20px 10px 10px 10px;
    display: block;
    background: rgba(91, 91, 91, 0.2);
}

article .head {
    color: #00ADB5;
    padding-left: 10px;
    font-family: Calibri, sans-serif;
    font-size: x-large;
    background: #112D4E;
}

article .text-block {
    display: block;
    padding: 5px 20px 10px 10px;
    font-size: medium;
}

article .footer {
    display: flex;
    color: rgba(12, 12, 30, 0.6);
    font-size: small;
    padding: 5px 20px 10px 10px;
}

footer {
    justify-content: center;
    padding: 10px;
    background: #222831;
    color: #00ADB5;
    display: flex;
}

.block-footer {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer a {
    margin-top: 1%;
    display: block;
    text-decoration: none;
    color: #b6b6b4;
}


footer p {
    font-size: x-large;
}

footer .lin {

}

article .footer a {
    color: #393E46;
    align-items: center;
    margin-right: 4%;
    padding: 10px 20px 10px 20px;
    background-color: #b6b6b4;
    margin-left: auto;
    display: block;
    border-radius: 12px;
    text-decoration: none;
}

article .footer .date {
    text-align: center;
    align-items: center;
    display: block;
}

@media screen and (max-width: 470px) {
    footer {
        flex-direction: column;
    }
    footer .block-footer{
        text-align: left;
    }
    header {
        flex-direction: column;
    }

    but {
        display: flex;
        align-items: center;
        margin: auto;
    }

    main {
        flex-flow: wrap;
        flex-direction: column;
    }

    main .categories {
        order: 0;
        width: 100%;
    }

    main .categories .dropdown {
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: opacity 1s;

    }

    main .categories:hover > .dropdown {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    main .articles_list {
        order: 1;
    }
    header form {
        align-items: center;
        margin: auto !important;
    }

    .logo {
        font-size: 46px;
        text-align: center;
    }


}

article .text-block .image {
    float: bottom;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

a {
    color: #393E46;
    text-decoration: none;
}

header form {
    padding-top: 30px;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

header form input {
    outline: none;
    box-sizing: border-box;
    border: 5px solid #00ADB5;
    border-radius: 10px;
}

@media screen and (max-width: 650px) {
    header {
        flex-wrap: wrap;
    }
    header form {
        margin-right: 4%;
    }
}
