{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <div class="head">
            {{ article.title }}
        </div>
        <div class="text-block">
            {{ article.text }}
            {% if article.img %}
                <img src="{{ article.img_id }}" alt="Тут была картинка">
            {% endif %}
        </div>
        <div class="footer">
            <div class="date">{{ article.date }}</div>
        </div>
    </article>
{% endblock %}