{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <div class="head">
                {{ article.title }}
            </div>
            <text-block>
                {{ article.text }}
                {% if article.img %}
                    <img src="", alt="Тут была картинка">
                {% endif %}
            </text-block>
            <div class="footer">
                <date>{{ article.date }}</date>
            </div>
    </article>
{% endblock %}