{% extends 'base.html' %}

{% block custom %}
    <link rel="stylesheet" href={{ url_for('static', filename='artical_Style.css') }}>
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <div class="head">
            {{ article.title }}
        </div>
        <div class="text-block">
            <div>{{ article.body }}</div>
            {% if article.img %}
                <img src="{{ article.img_url }}" alt="Тут была картинка" class="image">
            {% endif %}
        </div>
        <div class="footer">
            <div class="date">{{ article.date }}</div>
            <div class="author-label">Автор статьи {{ article.author.name }}</div>
        </div>
    </article>
{% endblock %}