<!DOCTYPE html>
<html lang="ru">
<head>
    {% block custom %}

    {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>
        {% block title %}
            Game Blog
        {% endblock %}
    </title>
</head>
<body>
<header>
    <a href="{{ url_for('homepage') }}" class="logo">Game Blog</a>
    <but>
        <a class="buttons" href="singin.html">Sing in</a>
        <a class="buttons" href="login.html">Log In</a>
    </but>
</header>
<main>
    <div class="articles_list">
        {% block content %}
            tut bil cot
        {% endblock %}
    </div>
    <ul class="categories">
        <li class="header">
            Категории
        </li>
        {% for categoria in categories %}
            <li class="dropdown">
                <a href=" {{ url_for('categor', cat=categoria.id) }} ">{{ categoria.name }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
<footer>

</footer>
</body>
</html>