<!DOCTYPE html>
<html lang="ru">
<head>
    {% block custom %}

    {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>
        {% block title %}
            Game Blog
        {% endblock %}
    </title>
</head>
<body>
<header>
    <a href="{{ url_for('homepage') }}" class="logo">Game Blog</a>
    <form action="{{ url_for('search') }}">
        <input name="text" class="search" type="search" placeholder="Поиск" aria-label="Поиск">
        <button type="submit">
            <img src="https://img.icons8.com/material-sharp/24/000000/search.png"/>
        </button>
    </form>
    <but>
        <a class="buttons" href={{ url_for('singup') }}>Sing Up</a>
        <a class="buttons" href={{ url_for('singin') }}>Sing In</a>
    </but>
</header>
<main>
    {% block any_content %}
    {% endblock %}
    <div class="articles_list">
        {% block content %}
        {% endblock %}
    </div>
    <ul class="categories">
        <li class="header">
            Категории
        </li>
        {% for categoria in categories %}
            <li class="dropdown">
                <a href=" {{ url_for('categor', cat=categoria.id) }} ">{{ categoria.name }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
<footer>
    <div class="block-footer">
        <p>О нас</p>
        <div class="lin"><span></span><a href="#">Вконтакте</a></div>
        <div class="lin"><span></span><a href="#">Дискорд</a></div>
        <div class="lin"><span></span><a href="#">Телеграм</a></div>
    </div>
    <div class="block-footer">
        <p>Поддержка</p>
        <div class="lin"><a href="#">Вконтакте</a></div>
        <div class="lin"><a href="#">Дискорд</a></div>
        <div class="lin"><a href="#">Телеграм</a></div>
    </div>
    <div class="block-footer">
        <p>Поддержать нас</p>
        <div class="lin"><a href="#">Сбер</a></div>
        <div class="lin"><a href="#">Киви</a></div>
        <div class="lin"><a href="#">Вебмани</a></div>
    </div>
</footer>
</body>
</html>