{% extends "base.html" %}


{% block title %}
    Game Blog
{% endblock %}

{% block content %}
    {% for artical in articles %}
        <article>
            <div class="head">
                {{ artical.title }}
            </div>
            <text-block>
                {% if artical.big %}
                    {{ artical.text[0:200]+'...' }}
                {% else %}
                    {{ artical.text }}
                {% endif %}
            </text-block>
            <div class="footer">
                <date>{{ artical.date }}</date>
                <a href="/article/{{ artical.id }}">Читать дальше</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}

