<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='log_reg.css') }}>
    <title>
        {% block title %}
            Авторизация
        {% endblock %}
    </title>
</head>
<body>
<main>
    <div class="head">
        {% block name %}
            Вход
        {% endblock %}
    </div>
    {% block menu %}
        <div class="block-login">
            <div class="text-login">
                Никнейм
            </div>
            <form action="">
                <input name="name" class="form-login" type="text" placeholder="Имя" aria-label="Имя">
            </form>
        </div>
        <div class="block-login">
            <div class="text-login">
                Пароль
            </div>
            <form action="">
                <input name="password" class="form-login" type="password" placeholder="Пароль" aria-label="Пароль">
            </form>
        </div>
    {% endblock %}
</main>
</body>
</html>