<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='log_reg.css') }}>
    <title>
        {% block title %}
            Авторизация
        {% endblock %}
    </title>
</head>
<body>
<header>
    <a href="{{ url_for('homepage') }}" class="logo">Game Blog</a>
</header>
<main>
    {% block forms %}
        <form action="{{ url_for('create_article') }}" method="POST" class="main_create">
        {{ form.csrf_token }}

        <button type="submit" class="button_create">Создать</button>
    </form>
    {% endblock %}
</main>
</body>
</html>