{% extends 'base.html' %}
{% block custom %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}
{% block title %}
    Новая статья
{% endblock %}
{% block content %}
    <form action="{{ url_for('create_article') }}" method="POST" style="">
        {{ form.csrf_token }}
        <div>{{ form.title.label }}{{ form.title }}</div>
        <div>{{ form.body.label }}{{ form.body }}</div>
        <div>{{ form.category_id.label }}{{ form.category_id }}</div>
        <div>{{ form.author_id.label }}{{ form.author_id }}</div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}