{% extends 'login.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block name %}
    Регистрация
{% endblock %}

{% block forms %}
    <form action="{{ url_for('create_article') }}" method="POST" class="main_create">
        {{ form.csrf_token }}
        {{ form.nickname.label }}{{ form.nickname }}
        {{ form.mail.label }}{{ form.mail }}
        {{ form.password.label }}{{ form.password }}
        <button type="submit" class="button_create">Создать</button>
    </form>
{% endblock %}